SERVER_TYPE=http
SERVER_PORT=8080
SERVER_URL=http://localhost:9090

AUTHENTICATION_API_KEY=YOUR_EVOLUTION_API_KEY

DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://evolution:CHANGE_PASSWORD@postgres:5432/evolution

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://redis:6379/6
CACHE_REDIS_PREFIX_KEY=evolution

DEL_INSTANCE=false

LOG_LEVEL=DEBUG
